.CardItem{
    border: solid 1px #333333;
    border-radius: 5px;
    margin: 3px;
    padding: 5px;
}

.ItemFooter{
  height: fit-content;
  margin: 8px;
    & .Option{
        margin: auto;
    }
}


.Option {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin: 3px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #2A3F35;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .Option:hover {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.3), 0 4px 5px 0 rgba(0,0,0,.3), 0 1px 10px 0 rgba(0,0,0,.3);
    transition: .2s;
  }
  .Option:focus,
  .Option:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }


  .Info{
    margin: 2px;
  }